<h1>Basic stats page</h1>
<p>There are currently <%=@category_count.inspect%> product categories.</p>
<p>There are currently <%=@product_count.inspect%> products.</p>
<%= link_to "See all products", :root%>